.main{
  position: relative;
  top: -135px;
  transition: .5s;
  margin-bottom: -135px;
  &_active{
    top: 0;
    transition: .5s;
    margin-bottom: 0;
  }
  &__hidden-nav{
    height: 120px;
    display: flex;
    box-shadow: inset 0 1px 10px rgba(0, 0,0, 0.18);
   width: 100%;
    position: relative;
    z-index: 3;
  }
  &__menu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-item{
      width: 16.66%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      position: relative;
      &:hover{
        background: $green;
        color: white;
        box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.25);
      }
      &:hover::before{
        display: none;
      }
      &::before{
        position: absolute;
        content: '';
        width: 2px;
        height: 75px;
        top: 50%;
        transform: translateY(-50%);
        right: 1px;
        background: linear-gradient(180deg, #F2F2F2 0%, #C4C4C4 51.04%, #F2F2F2 100%);
      }
      &:first-child::before ,&:last-child::before{
        display: none;
      }
    }



   &-item:hover &-link{
      color: white;
    }



    &-link{
      text-decoration: none;
      font-family: NK90,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: $green;
    }
  }
}